.carousel-inner{
    width: 100%;
    //height: auto;
    height: 100%;
}
.carousel{
    height: 100%;
}

.carousel-item{
    width: 100%;
    text-align: center; 
      
    @include respond(tab-port){
        width: 100%;    
        padding: 2rem 2rem; 
    }
    &.active{
        text-align: center;
    }
}
.carousel-indicators{
    &-light li{
        margin-right: 1rem;
        margin-bottom: 1rem;
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        background-color: transparent;   
        border: solid 1.5px rgba(#fff,1);
    }
    &-dark li{
        margin-right: 1rem;
        margin-bottom: 1rem;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: transparent;   
        border: solid 1px rgba(#000,1);

    }
    &-dark .active{
        transition: background-color .5s;
        background-color: #000;
    }
    &-light .active{
        transition: background-color .5s;
        background-color: #fff;
    }
   
  
}

