body{   
    font-size: 2.4rem;
}
.caption__primary{
    padding: 5% 3%;
    position: absolute;
    height: 40%;
    top:5%;
    left: 50%;
    z-index: 0;   
    padding-top: 20px;
    padding-bottom: 20px;
    color: #ffffff;
    text-align: center;
    transform: translate(-50%,-5%);
    width: 100%;

    h1{
        font-size: 4.5rem;
        font-weight: 700;
        margin-bottom: 2.4rem;
    }       
    
    p {
        font-size: 2rem;
        font-weight: 400;
    }
    &-middle{        
        top: 50%;
        left: 50%; 
        transform: translate(-50%,-50%);
    }      
}
.caption__secondary{
   margin-bottom: 3rem;
    a{
        text-decoration: none;
        color: #000;
        font-size: 4.5rem;
        font-weight: 700;
        &:hover{
            color:#2b9fcd;
        }
    }   
}
.caption__tertiary{   
    a{
        text-decoration: none;
        color: #000;
        font-size: 2rem;
        font-weight: 600;
        &:hover{
            color:#2b9fcd;
        }
    }
     
}
.item__primary{   
    a{
        text-decoration: none;
        color: #000;
        font-size: 2rem;
        font-weight: 400;
        &:hover{
            color:#2b9fcd;
        }
    }
     
}



.center-text{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    h2{
        font-size: 3rem;
        font-weight: 500;        
    }
    &-blur--dark{
        background-color: rgba(#000000,.2);
    }      
}
.light-text{
    &:link,&:visited{
        font-size: 4rem;
        font-weight: 700;
        color: #fff;
        text-decoration: none;
        
    }
}

.card-title--2{
    &:visited,&:link{
        font-size: 3rem;
        font-weight: 700;
        text-decoration: none;   
        color: #000000;
        &:hover{
            color: #2b9fcd;
        }     
    }
    
}
.text-secondary{
    color: #000;
}
.text-center{
   a{
       text-decoration: none;
       color: #000000;
       font-size: 3rem;
       font-weight: 700;
       &:hover{
           color: #2b9fcd;
       }
   }
}
.link__primary{
    a{
        text-decoration: none;
        color: #000000;
        font-size: 2.3rem;
        font-weight: 700;
        @include respond(tab-port){
            text-align: center;
        }        
        &:hover{
            color: #2b9fcd;
        }
    }
}
.product__price{
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase;
    &:link,&:visited{
        text-decoration: none;
        font-size: 1.4rem;
        font-weight: 700;
        color: #2b9fcd;
    }
   

}
.product__name{   
        margin-bottom: 1rem;
        text-decoration: none;
        color:#000;
        font-size: 2rem;
        font-weight: 400rem;
        &:hover{
            color: #2b9fcd;
            text-decoration: none;
        }    
}
.input{
    margin: 0 .75rem;
    border: 1px solid;
    font-size: 1.4rem;
    font-weight: 600;
    padding: 0 1rem;
    &__infor{
        margin-bottom: 1rem;
        width: 100%;
        border: 1px solid gainsboro;
        font-size: 1.4rem;
        color: #000;
        padding: 1rem 1rem;
        &::placeholder{
            color: #000;
        }
    }
    &__light{
        
        //width: 20rem;
        height: 5rem;
        background-color: transparent;
        border-color: 1.5px solid #fff;   
        text-align: center; 
        @include respond(tab-port){
            margin-bottom: .2rem;
        }
       
        color: #fff;    
        &::placeholder{
            font-size: 1.8rem;
            font-weight: 600;
            color: #fff;
            text-align: center;
        }

    }
    &__transparent{             
        width: 35rem;
        height: 5rem;
        background-color: transparent;
        border-color: solid #000;   
        text-align: center; 
        color: #000;
       
        &::placeholder{
            font-size: 1.8rem;
            font-weight: 400;
            color: #000;
            opacity: .6;        
            text-align: center;
        }
        &-left{
            text-align: left;
            &::placeholder{
                text-align: left;
            }            
        }
    }
    
    
}
.left-text{
    text-align: left;
    margin-bottom: 2rem;
    width: 65%;
    @include respond(tab-land){
        width: 100%;
    }
}
.sm-text{
    font-size: 1.8rem !important;
    font-weight: 400;
    &-bold{
        font-size: 1.8rem !important;
        font-weight: 700 !important;
    }
    
    a,&:not(p):not(li):not(ul):not(h2){
        text-decoration: none;
        color: #000;
        a,&:hover{
            color: #2b9fcd;
            text-decoration: none;
        }
    }
}

.rss{
    color: rgb(68, 68, 68);
    &:hover{
        color: #2b9fcd;
        cursor: pointer;
    }
}

.form-control{
    &:hover{
        cursor: pointer;
    }
    border: none;
    border-radius: 0;
    border-bottom: 4px solid #1dc953;
    width: 15rem;
}

