.footer{
    width: 100%;
    padding: 3rem 4rem;
    @include respond(phone){
        padding: 3rem 2rem;
    }
    background-color: #313131;   

    &__main-content{
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 0 1rem;
        @include respond(tab-land){
            display: inline-block;
            text-align: center;
        }
    }
    &__logo{
        width: 30%;
        font-size: 4.5rem;
        line-height: 1;
        font-weight: 700;  
        @include respond(tab-land){
            width: auto;
            text-align: center;
        } 
        @include respond(phone){
            display: none;
        }
        &-social{
            width: 30%;
            height: 20%;
            word-break: normal;
            text-align: right;
            &:not(:last-child){
                margin-bottom: 3rem;
            }
            @include respond(tab-land){
                width: 100%;
                ul{
                    padding: 0 0;
                }
                text-align: center;
            }
        }
    }
    color: #fff;
    p{
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1;
    }
    &__nav{
        display:inline-flex;
        justify-content: center;
        width: 30%;
        padding: 0 0;
        &--items{
            &:not(:last-child){
                margin-right: 2.3rem;
            }
        }       
        color: #fff;
        a{
            font-size: 1.5rem;
            font-weight: 400;
           
            padding: 3px 0;
            position: relative;
            transform: perspective(1px) translateZ(0);
            text-decoration: none;
            color: #fff; 
            &::before{
                content: "";
                position: absolute;
                z-index: 100;
                left: 0;
                right: 100%;
                bottom: 0;
                background: #fff;
                height: 2px;
                -webkit-transition-property: right;
                transition-property: right;
                -webkit-transition-duration: 0.3s;
                transition-duration: 0.3s;
                -webkit-transition-timing-function: ease-out;
                transition-timing-function: ease-out;            
            }
            &:hover::before{
                right: 0;
            }
               
        }
    }
    
    
}
